[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
langchain-core = "*"
langchain-experimental = "*"
langchain-google-genai = "*"
langchain-ollama = "*"
langchain-community = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
